.product-listing {
    width: 100%;
    header {
        background-image: linear-gradient(to right, rgb(223, 32, 32) 0%, rgb(245, 71, 30) 100%);
        .black-icon {
            margin-right: 12px;
            cursor: pointer;
        }
        .text-field {
            width: 100%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                background-image: url("../../assets/icons/search.png");
                top: 4px;
                left: 8px;
                width: 24px;
                height: 24px;
            }
            input {
                font-size: 14px;
                font-weight: normal;
                height: 32px;
                border-color: transparent;
                border-radius: 8px;
                width: 100%;
                padding: 10px;
                padding-left: 40px;
                color: #000000;
                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 0px;
                }
            }
        }
    }
}
