.attribute-list {
    &__item {
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding: 8px 12px;
        &:nth-child(odd){
            background-color: rgb(238, 241, 243);
        }
        &__name {
            flex-basis: 50%;
            flex-shrink: 0;
            color: rgb(120, 120, 120);
        }
        &__value {
            flex: 2 0 0%;
            color: rgb(36, 36, 36);
            padding-left: 8px;
            text-align: right;
            img{
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}
